<div class="container py-5">

  <div class="row  d-flex justify-content-between">
    <div class="col-8 ">
      <!-- <img class="  img-fluid w-75 " [src]="imagen" alt="user"> -->
      <img class="  img-fluid w-75 " src="assets/img.jpeg" alt="user">
    </div>

    <div class="co-4">
      <h2 class="display-4">Crear usuarios</h2>
      <div class="form-group">
        <label for="name" class=" text-white control-label">Nombre</label>
        <input type="text" name="name" id="name" [(ngModel)]="model.name" placeholder="nombre" class="form-control">
      </div>

      <div class="form-group">
        <label for="apellidos" class=" text-white control-label">Apellidos</label>
        <input type="text" name="apellidos" id="apellidos" placeholder="apellidos" class="form-control"
          [(ngModel)]="model.apellido">
      </div>
      <div class="form-group">
        <label for="porcentaje" class=" text-white control-label">porcentaje</label>
        <input type="number" name="porcentaje" id="porcentaje" placeholder="porcentaje" class="form-control"
          [(ngModel)]="model.porcentaje">
      </div>

      <div class="form-group">
        <button (click)="createEmpleado()" class="btn btn-info btn-block">enviar</button>
      </div>


    </div>
  </div>


  <div class="row">
    <div class="col-8 bg-red">
      <h2> User register</h2>

      <table class="table table-bordered ">
        <thead>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Porcentaje</th>
          <th>Opciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users , index as i">
            <td>{{i + 1}}</td>
            <td>
              {{user?.name}}
            </td>
            <td>
              {{user?.apellido}}
            </td>
            <td>
              {{user?.porcentaje}}
            </td>
            <td>
              <button class="btn btn-danger mx-1" (click)="eliminarUser(i)">
                eliminar
              </button>
              <button class="btn btn-success mx-1" (click)="selectUser(user , i)">
                editar
              </button>
            </td>

          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-4">


      <div>
        <h2 class="display-4">editar usuario</h2>
        <div class="form-group">
          <label for="name" class=" text-white control-label">Nombre</label>
          <input type="text" name="name" id="name" [(ngModel)]="model2.name" placeholder="nombre" class="form-control">
        </div>

        <div class="form-group">
          <label for="apellidos" class=" text-white control-label">Apellidos</label>
          <input type="text" name="apellidos" id="apellidos" placeholder="apellidos" class="form-control"
            [(ngModel)]="model2.apellido">
        </div>
        <div class="form-group">
          <label for="porcentaje" class=" text-white control-label">porcentaje</label>
          <input type="number" name="porcentaje" id="porcentaje" placeholder="porcentaje" class="form-control"
            [(ngModel)]="model2.porcentaje">
        </div>

        <div class="form-group">
          <button (click)="editar()" class="btn btn-info btn-block">actualizar</button>
        </div>


      </div>


    </div>

  </div>

</div>